node_modules
lib
out
test-report
*.xml
out_doc_api
dist
tmp
out_*
coverage
yarn.lock
package-lock.json
test_folder
*.save
examples/yosys/**/*.json
examples/yosys/**/*.out
out
node_modules
.vscode-test/
*.vsix
user.teros-hdl.config.json
prj_config.teros
package-lock.json
config.html
resources/project_manager/examples
resources/project_manager/help
yarn.lock
*.log.save
*quartus.rec