body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

html,
body {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    color: black;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.navbar-nav {
    margin: 0 auto;
}

#zoom {
    color: white;
    margin: 0.5em;
}

#status {
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    font: 16px Monaco, Menlo, Consolas, monospace;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#status:empty {
    display: none;
}

#message {
    font-weight: bold;
    font: 20px;
}

#code {
    color: #424242;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

.navbar-center {
    width: 100%;
}

button svg {
    fill: #000000;
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}

button:hover svg{
    fill: #ffffff;
}