.. _requirements:

Requirements
============

All the tools are automatically managed by TerosHDL vscode plugin.
But there are some requisites you have to satisfy to enable the all the functionalities.

- Python 3: configured in TerosHDL.
- teroshdl python libraries: ``pip3 install teroshdl``
- Make: https://www.gnu.org/software/make/

Simulators
~~~~~~~~~~~~~

Simulators aren't included in TerosHDL. You need to install your simulator and config it properly.