body {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f5;
    font-size: 12px;
}

.log-location {
    white-space: nowrap;
}

.log-time {
    white-space: nowrap;
}

.align-middle {
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #eff7fe;
}

.navbar,
.navbar .form-control {
    height: 40px;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

form {
    margin-left: 60px;
}

#navbarNav .navbar-nav {
    flex-grow: 1;
}

#navbarNav form {
    margin-left: auto;
}

.fixed-size-search {
    width: 310px;
    height: 50px;
}

.log-error {
    color: #f33e5e;
    font-weight: bold;
}

.log-warning {
    color: #f49e0b;
    font-weight: bold;
}

.log-info {
    color: #0ba5e8;
    font-weight: bold;
}

.log-symbol {
    margin-right: 10px;
}

.table thead th {
    border-top: none;
    background-color: #f2f2f5;
}

thead {
    user-select: none;
}

.log-description-text {
    color: #808080;
}

.log-location-text {
    color: #5f8dd3;
}

.fixed-size-button {
    width: 110px;
    height: 20px;
    padding: 1px 5px;
    border-radius: 7px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-button {
    margin-top: 1.5px;
}

.btn-checkbox {
    margin-top: 0.5px;
    margin-right: 5px;
}

.button-error {
    background-color: #f33e5e;
}

.button-warning {
    background-color: #f49e0b;
}

.button-info {
    background-color: #0ba5e8;
}

.button-secondary {
    background-color: rgb(122, 122, 122);
    margin-left: 10px;
}

.last-button {
    margin-left: 15px;
}

.table {
    background-color: #ffffff;
}

.navbar {
    padding-top: 0px;
    background-color: #f2f2f5;
}

.table-responsive {
    overflow-y: hidden;
}

.scrollable-body {
    overflow-y: auto;
}

#tableContainer {
    width: calc(100% - 40px);
    margin: 0 10px;
}

.table tbody tr {
    cursor: pointer;
}
